/*NavBar Styling*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 25px;
  text-align: center;
}

li {
  display: inline-block;
  float: right;
  padding: 5px;
}

li a {
  text-decoration: none;
  color: white;
}

.topnav {
  background-color: teal;
  overflow: hidden;
  border: teal solid 5px;
  text-align: center;
  width: 100%;
}

#horiseon {
  float: left;
  color: white;
}

#horiseon span {
  color:tan;
}
/*End NavBar Styling*/

/*main image styling*/
#imgmain {
  
}

article {
  color: white;
  padding: 20px;
  margin: 20px;
}

.float-child {
  float: left;
  background-color: teal;
}

/*Left side styling*/
.leftbox {
  float: left;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 400px;
 }

#box1 {
    border: yellow solid 3px;
}

#box2 {
  border: yellow solid 3px;
}

#box2 img {
  float: right;
  align-self: center;
}

/*right side styling*/

.rightbox {
  float: right;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100px; 
  text-align: center;
  position: right;
}

.rightbox img {
  display: block;
  margin: auto;
  width: 50%;
}
/*General Styling*/
ul,p,h1,h2,h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: lightgray;
}