/*NavBar Styling*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 25px;
  text-align: center;
}

li {
  display: inline-block;
  float: right;
  padding: 5px;
}

li a {
  text-decoration: none;
  color: white;
  font-size: small;
}

.topnav {
  background-color: teal;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

#horiseon {
  float: left;
  color: white;
}

#horiseon span {
  color:tan;
}
/*End NavBar Styling*/

/*main image styling*/
#imgmain {
  width: 100%;
  height: auto;
  max-width: 100%;
  position: absolute-bottom;
}
/*below image styling*/
.float-child {
  background-color: teal;
  box-sizing: border-box;
}

.flexcontainer {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

/*Left side styling*/

/*right side styling*/

.rightbox {
  float: right; 
  text-align: center;
  position: right;
  flex-direction: column;
}

aside {
  width: 22%;
 }

.rightbox img {
  display: block;
  margin: auto;
}

/*General Styling*/
ul,p,h1,h2,h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: lightgray;
  color: white;
}
