/*NavBar Styling*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 25px;
  text-align: center;
}

li {
  display: inline-block;
  float: right;
  padding: 5px;
}

li a {
  text-decoration: none;
  color: white;
  font-size: small;
}

.topnav {
  background-color: teal;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

#horiseon {
  float: left;
  color: white;
}

#horiseon span {
  color: lightgray;
}
/*End NavBar Styling*/

/*main image styling*/
#imgmain {
  width: 100%;
  height: auto;
  max-width: 100%;
  position: absolute-bottom;
}
/*below image styling*/
.float-child {
  background-color: teal;
  box-sizing: border-box;
}

.flexcontainer {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-around;
}

.flexcontainer section,aside {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
}

/*Left side styling*/
section {
  flex-grow: 6;
  border: solid lightgray 10px;
}

#box1, #box3 img {
  float: left;
}

/*right side styling*/

aside {
  flex-grow: 1;
  border: solid lightgray 10px;
  justify-content: space-evenly;

 }

 aside h3,p {
   text-align: center;
 }

.rightbox img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*General Styling*/
ul,p,h1,h2,h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: lightgray;
  color: white;
}
